body {
  margin: auto;
  height: 100vh;
  font-family: sans-serif;
}

#root {
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    "top top top top top"
    "sidebar main main main right"
    "sidebar main main main right"
    "sidebar main main main right"
    "sidebar footer footer footer footer";
  column-gap: 10pt;
  row-gap: 10pt;
  justify-items: stretch;
  align-items: stretch;
}

#top {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-area: top;
  background-color: lightgray;
}

#sidebar {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-area: sidebar;
  background-color: lightgray;
}

#main {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-area: main;
  background-color: lightgray;
}

#right {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-area: right;
  background-color: lightgray;
}

#footer {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-area: footer;
  background-color: lightgray;
}
