body {
  margin: auto;
  height: 100vh;
  font-family: sans-serif;
}

#root {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  top: 0%;
  left: 0%;
}

#top {
  width: 100%;
  height: 15%;
  display: block;
  position: relative;
  background-color: lightgray;
}

#whiteboard {
  width: 100%;
  height: 80%;
  display: block;
  float: bottom;
}

#sidebar {
  width: 15%;
  height: 100%;
  display: block;
  position: relative;
  float: left;
  background-color: lightgray;
}

#content {
  width: 80%;
  height: 100%;
  display: block;
  float: right;
}

#body {
  width: 100%;
  height: 80%;
  display: block;
}

#main {
  width: 80%;
  height: 100%;
  display: block;
  position: relative;
  float: left;
  background-color: lightgray;
}

#right {
  width: 15%;
  height: 100%;
  display: block;
  position: relative;
  float: right;
  background-color: lightgray;
}

#footer {
  width: 100%;
  height: 15%;
  display: block;
  background-color: lightgray;
}

span {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
}
